@import '../../../assets/variables';

.form-header-container {
    &__info {
        text-align: center;
        color: $gray-color
    }

    &__link {
        color: $terciary-color;

        &:hover {
            color: $primary-color;
        }
    }
}