@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bolder;
}