@import '../../../assets/variables';

.navbar-container {
    height: $navbar-height;
    border-bottom: $border;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;

    &__brand {
        display: flex;
        align-items: center;
    }

    &__name {
        margin-left: .2rem;
    }

    &__link {
        color: $terciary-color;
        border: none;
        background: transparent;

        &:focus {
            outline: none;
        }

        &:hover {
            color:$primary-color;
        }
    }

    &__logout {
        font-size: 1.1rem;
    }
}


@media (max-width: 992px) {
    .navbar-container {
        font-size: 1.25rem;
    
        &__logout {
            display: none;
        }
    }
}