.login-container {
    height: 100vh;
    padding: 0;
    margin:0;

    &__row {
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    &__img-col {
        padding: 0px !important;
        width: 50%;
    }

    &__form-col {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .login-container {
        max-height: 100vh;
        &__row {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
    
        &__img {
            max-height: 100%;
        }
    
        &__img-col, &__form-col {
            width: 100%;
        }
    }
}