@import '../../assets/variables';

.sign-up-form-container {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    overflow: auto;
    background-color: white;

    &__wrapper {
        max-width: 500px;
        height: fit-content;
        margin: 32px 0;
    }
}

@media (max-width: 992px) {
    .sign-up-form-container {
        padding: 50px 20px;
    }
}