$primary-color: #AA3150;
$secondary-color: gray;
$body-background-color: #f1f1f1;
$terciary-color: #f8c136;
$gray-color: #57647c;
$icon-color: #BCC1D4;
$border: solid 0.5px #7d7d7db3;
$error-background: #ff8b8b;
$error-border: #dc3545;
$navbar-height: 65px;
$contrast-color: #AA3150;
$gradient: linear-gradient(90deg, $primary-color 0%,  $secondary-color 100%);