@import '../../assets/variables';

.login-form-container {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    &__wrong {
        color: white;
        background-color: $error-background;
        border-radius: 2px;
        height: 3rem;
        margin-bottom: 1rem;
    }

    &__paragraph {
        margin: 0;
    }

    &__button {
        width: 100%;

        &:hover {
            background-color: $primary-color;
            border-color: $primary-color;
        }

        &--icon-effect {
            transition: all 0.2s linear 0s;
            
            &:before {
                content: "\f2f6";
                font-family: Line Awesome Free;
                font-weight: 900;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-feature-settings: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 1.1rem;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                width: 90%;
                transition: all 0.2s linear 0s;
                margin-top: 1px;
            }
            
            &:hover {
              text-indent: -20px;
              
              &:before {
                opacity: 1;
                text-indent: 0px;
              }
            }
        }
    }
}

@media (max-width: 992px) {
    .login-form-container {
        padding: 50px 20px;
    }
}