.home-page-container {
    &__balance {
    }

    &__balance-number {
       font-size: 4rem;
    }

    &__title {
        width: max-content;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        height: 300px;
        overflow: auto;
        margin-right: 2rem;
        min-width: 60%;
    }
}

@media (max-width: 992px) {
    .home-page-container {
        
        &__info {
            display: flex;
            flex-direction: column;
        }

        &__list {
            height: 300px;
            overflow: auto;
            margin-right: 0;
        }
    }
}